@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: "pacman-font";
    src: url(../font/crackman/crackman.ttf) format("truetype"),
         url(../font/crackman/crackman.woff) format("woff");
}

body {
    font-family: "Roboto", Arial;
}

#page {
    width: 100%;
    height: 100%;
    background-color: yellow;
    color: blue
}

h1 {
    font-family: "pacman-font";
    font-size: 50px;
}

#img {
    position: absolute;
    top: 0;
    right: 0;
}