@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@font-face {
    font-family: "pacman-font";
    src: url(../font/crackman/crackman.ttf) format("truetype"),
         url(../font/crackman/crackman.woff) format("woff");
}

body {
    font-family: "Roboto", Arial;
    background-color: yellow;
}

#page {
    width: calc(100% - 10px);
    padding-left: 10px;
}

h1, h2, h3 {
    font-family: "pacman-font";
    color: blue;
}

#titel {
    line-height: 0px;
    font-size: 50px;
}

#img {
    position: absolute;
    top: 0.4vw;
    right: 0.4vw;
    width: 34.6%;
}

@media screen and (min-width: 1400px) {
    #img {
        width: 488px;
    }
}

.intro {
    color: red;
    font-size: 20px;
    width: 63%;
}

#sold {
    background-color: #FFD580;
}

.tussentitel {
    font-size: 40px;
    line-height: 0px;
    margin-top: 6px;
}

.paragraph {
    color: orangered;
    font-size: 18px;
    width: 63%;
}

.list, .list > li > a {
    width: 57%;
    color: orangered;
    font-size: 16px;
}

#sources, #sources > li, #sources > li > a {
    color: blue;
    font-size: 15px;
}