@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@font-face {
    font-family: "pacman-font";
    src: url(../font/crackman/crackman.ttf) format("truetype"),
         url(../font/crackman/crackman.woff) format("woff");
}

body {
    font-family: "Roboto", Arial;
    background-color: blue;
    height: 100vh;
    margin: 0;
}

#photo-nav, div > a {
    font-family: "pacman-font", "Roboto", Arial;
    color: yellow;
    font-size: 20px;
}

#photo-nav {
    position: absolute;
    bottom: 0;
    right: 1%;
    height: 25px;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: blue;
    width: 100%;
    text-align: center;
    padding-top: 5px;
}

#page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1350px) {
    #photo-nav {
        height: 50px;
    }
}