@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@font-face {
    font-family: "pacman-font";
    src: url(../font/crackman/crackman.ttf) format("truetype"),
         url(../font/crackman/crackman.woff) format("woff");
}

body {
    font-family: "Roboto", Arial;
    background-color: #ff7b00;
    height: 100vh;
    margin: 0;
}

#photo-nav, div > a {
    font-family: "pacman-font", "Roboto", Arial;
    color: yellow;
    font-size: 20px;
}

#photo-nav {
    position: absolute;
    top: 5vh;
    height: 25px;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: blue;
    width: 100%;
    text-align: center;
    z-index: 5; /*in front of pictures*/
}

#page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: calc(5vh + 25px);
    height: calc(95vh - 25px);
    background-repeat: no-repeat;
}

@media screen and (max-width: 1283px) {
    #photo-nav {
        height: 50px;
    }

    #page {
        top: calc(50px + 5vh);
        height: calc(100vh - 50px - 5vh);
    }
}
@media screen and (max-height: 1100px) {
    #photo-nav {
        top: 55px;
    }

    #page {
        top: 80px;
        height: calc(100vh - 80px);
    }
}
@media screen and (max-height: 1100px) and (max-width: 1283px) {
    #photo-nav {
        top: 55px;
    }

    #page {
        top: 105px;
        height: calc(100vh - 105px);
    }
}
    
@media screen and (max-width: 674px) {
    #photo-nav {
        height: 75px;
    }

    #page {
        top: calc(75px + 5vh);
        height: calc(100vh - 75px - 5vh);
    }
}
@media screen and (max-height: 1100px) and (max-width: 674px) {
    #photo-nav {
        top: 55px;
    }

    #page {
        top: 130px;
        height: calc(100vh - 130px);
    }
}

@media screen and (max-width: 429px) {
    #photo-nav {
        height: 100px;
    }

    #page {
        top: calc(100px + 5vh);
        height: calc(100vh - 100px - 5vh);
    }
}
@media screen and (max-height: 1100px) and (max-width: 429px) {
    #photo-nav {
        top: 55px;
    }

    #page {
        top: 155px;
        height: calc(100vh - 155px);
    }
}